h1 {
	color: blue;
}

h2 {
	border-bottom: 4px solid red;
	border-left: 4px solid red;
}

p {
	text-indent: 32px;
}

a {
	color: red;
} 

a:hover {
	color: blue;
}

li {
	line-height: 1.5;
}

img {
	border: 4px solid gray;
}

img:hover {
	border: 4px solid pink;
}

.deleted {
	text-decoration: line-through;
}