.wrap {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background: red;
    margin-bottom: 10px;
}

.topmenu {
    float: right;
    line-height: 107px;
}

.topmenu li {
    float: left;
    margin-right: 10px;
}

.topmenu li a {
    color: white;
    text-decoration: none;
}

.topmenu li a:hover {
    color: gray;
}

.main {
    margin-bottom: 10px;
}

.menu {
    width: 20%;
    background: black;
    color: white;
    float: left;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    width: calc(100% - 40% - 20px);
    background: pink;
    float: left;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.rightmenu {
    width: 20%;
    background: blue;
    color: white;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.footer {
    height: 50px;
    background: gray;
}

.clearfix {
    clear: both;
}