h2 {
    font-size: 20px;
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.radius {
    height: 150px;
    width: 150px;
    background: #000;
    float: left;
    margin: 5px;
}

.radius.box1 {
    border-radius: 20px;
}

.radius.box2 {
    border-radius: 20%;
}

.radius.box3 {
    border-radius: 50px 0 50px 0;
}

.linear-gradient {
    height: 200px;
    width: calc(50% - 10px);
    float: left;
    margin: 5px;
}

.linear-gradient.box1 {
    background: linear-gradient(#00644b, #009771);
}

.linear-gradient.box2 {
    background: -webkit-linear-gradient(left, #00644b, #009771);
}

.shadow {
    height: 150px;
    width: 150px;
    background: green;
    margin: 5px;
    box-shadow: 5px 5px 10px gray;
}